# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Editor directories and files
.idea
.vs/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
/node_modules

# testing
/coverage

# production
lib
dist
/build

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# misc
.DS_Store
package-lock.json