.is-archive-tile-parent {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem !important;

    hr {
        height: 1px;
        margin: 1rem 0 1rem 0;
        background-color: rgba(85, 85, 85, .2);
    }

    .blog-thumbnail {
        figure {
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            height: 126px;
            width: 126px;
            opacity: 1;
            border: 1px solid rgb(233, 233, 233);
            margin: 0rem 2.5rem 0.85rem 2.5rem;

            img {
                border: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                max-width: 120%;
            }
        }
    }

    .is-tile-content {
        padding-top: 1.25rem;
    }
}

.notification.is-warning {
    border-radius: 6px;
    padding: 1.25rem 0.25rem 1.25rem 0.25rem;

    .title {
        margin-left: 0.4rem;
    }
}
