.home-card {
    margin-top: -3rem;

    @media screen and (min-width: 1088px) {
        border-radius: 6px;
    }
}

.dashboard-info {
    padding: 1.25rem !important;
}

.hero.is-dark {
    background-color: $color-hero-is-dark;

    &::before {
        @media (min-width: 1280px) {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url(../img/based-ghost-background.png);
            background-repeat: no-repeat;
            background-position: 100% 100px;
            background-size: 35% auto;
            opacity: 0.07;
        }
    }

    .hero-body {
        padding: 2.5rem 1.5rem;

        hr {
            background-color: rgba(255, 255, 255, .35);
            height: 1px;
            margin: 1.8rem 0;

            @include renderMobileTitleText {
                margin: 1.75rem 0;
            }
        }

        > .container div:last-child {
            margin-bottom: 2.15rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }

    .title {
        color: #fff;
        margin-bottom: 2.55rem;

        &.blog-title {
            font-size: 3.45em;
            letter-spacing: 0.01em;
       
            @include renderTabletTitleText {
                font-size: 2.85em;
            }
    
            @include renderMobileTitleText {
                font-size: 2.2em;
            }
        }
    }

    .subtitle {
        color: whitesmoke;
    }

    em {
        &.chevron {
            font-weight: 800;
            font-size: 3.05rem;
            color: $color-blue-highlight;
            padding-right: 12px;

            @include renderTabletTitleText {
                font-size: 2.5rem;
            }
    
            @include renderMobileTitleText {
                font-size: 1.95rem;
                padding-right: 10px;
            }
        }

        &.terminal {
            font-size: 2.65rem;
            font-weight: 100;
            margin-left: 10px;
            color: #878787;
            background-color: #878787;
            -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;

            @include renderTabletTitleText {
                font-size: 2.2rem;
            }
    
            @include renderMobileTitleText {
                font-size: 1.65rem;
                margin-left: 6px;
            }
        }
    }
}

  .stacked-column-seperator {
    background-color: whitesmoke;
    margin: 1rem 0;

    @media (min-width: 769px) {
        display: none;
    }
  }

.dashboard-info {
    margin-left: 0;

    @include centerStackedColumnContent {
        text-align: center;
    }

    > .title {
        color: $color-hero-is-dark;
        text-transform: uppercase;
    }

    .dashboard-content {
        > ul {
            margin-left: 0;
            padding-left: 20px;
            list-style: disc;

            @include centerStackedColumnContent {
                list-style: none;
                padding-left: 0;
            }

            &.fa-ul {
                list-style: none;
                padding-left: 25px;
                
                @include centerStackedColumnContent {
                    padding-left: 0;
                }

                .fa-li {
                    color: #1a1a1a;

                    @include centerStackedColumnContent {
                        display: none;
                    }
                }
            }

            li + li {
                margin-top: 1rem;
            }
        }
    }
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }