.home-card {
    margin-top: -3rem;

    @media screen and (min-width: 1088px) {
        border-radius: 6px;
    }
}

.dashboard-info {
    padding: 1.25rem !important;
}

.hero.is-dark {
    background-color: $color-hero-is-dark;

    &::before {
        @media (min-width: 1280px) {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url(../../assets/img/based-ghost-background.png);
            background-repeat: no-repeat;
            background-position: 100% 100px;
            background-size: 35% auto;
            opacity: 0.075;
        }
    }

    .hero-body {
        padding: 2.5rem 1.5rem;

        hr {
            background-color: rgba(255, 255, 255, .4);
            height: 1px;
            margin: 1.8rem 0;

            @include renderMobileTitleText {
                margin: 1.75rem 0;
            }
        }

        > .container div:last-child {
            margin-bottom: 2.15rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }

    .title {
        color: #fff;
        margin-bottom: 2.55rem;

        &.blog-title {
            font-size: 3.5em;
            letter-spacing: 0.015em;
            padding-bottom: 1.25rem;
            margin: auto;

            @include renderTabletTitleText {
                font-size: 2.9em;
            }
    
            @include renderMobileTitleText {
                font-size: 2.2em;
            }

            &::after {
                content: '__';
                letter-spacing: 0 !important;
                font-size: 3.3rem;
                font-weight: 900;
                color: #D4D4D4;
                margin-left: 5px;
                white-space: nowrap;
                -webkit-animation: cursor 1s step-end infinite;
                animation: cursor 1s step-end infinite;
    
                @include renderTabletTitleText {
                    font-size: 2.75rem;
                }
        
                @include renderMobileTitleText {
                    margin-left: 3px;
                    font-weight: 600;
                    font-size: 2.15rem;
                }
            }
        }
    }

    .subtitle {
        color: whitesmoke;

        &.blog-intro {
            margin-top: -0.025rem;
        }
    }

    em {
        &.chevron {
            font-weight: 800;
            font-size: 3.05rem;
            color: $color-blue-highlight;
            padding-right: 12px;

            @include renderTabletTitleText {
                font-size: 2.5rem;
            }
    
            @include renderMobileTitleText {
                font-size: 1.90rem;
                padding-right: 10px;
            }
        }
    }
}

  .stacked-column-seperator {
    background-color: #dbdbdb;
    margin: 1rem 0;
    height: 1px;
    
    @media (min-width: 769px) {
        display: none;
    }
  }

.dashboard-info {
    margin-left: 0;

    > .title {
        color: $color-hero-is-dark;
        text-transform: uppercase;
    }

    .dashboard-content {
        > ul {
            margin-left: 0;
            padding-left: 20px;
            list-style: disc outside;
            color: black;

            &.fa-ul {
                list-style: none;
                padding-left: 25px;
            }

            li + li {
                margin-top: 1rem;
            }
        }
    }
}

@-webkit-keyframes cursor {
    0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}