.home-card {
    margin-top: -3rem;

    @media screen and (min-width: 1088px) {
        border-radius: 6px;
    }
}

.dashboard-info {
    padding: 1.25rem !important;
}

.hero.is-dark {
    background-color: $color-hero-is-dark;

    &::before {
        @media (min-width: 1280px) {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url(../img/based-ghost-background.png);
            background-repeat: no-repeat;
            background-position: 100% 100px;
            background-size: 35% auto;
            opacity: 0.07;
        }
    }

    .hero-body {
        padding: 2.5rem 1.5rem;

        hr {
            background-color: rgba(255, 255, 255, .5);
            height: 1px;
            margin: 1.8rem 0;

            @include renderMobileTitleText {
                margin: 1.75rem 0;
            }
        }

        > .container div:last-child {
            margin-bottom: 2.15rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }

    .title {
        color: #fff;
        margin-bottom: 2.55rem;

        &.blog-title {
            font-size: 3.1em;
            letter-spacing: 0.01em;
       
            @include renderTabletTitleText {
                font-size: 2.65em;
            }
    
            @include renderMobileTitleText {
                font-size: 2.15em;
            }
        }
    }

    .subtitle {
        color: whitesmoke;
    }

    .subtitle.merge-up {
        margin-top: -1.25rem;
    }

    em {

        &.chevron {
            font-weight: 700;
            font-size: 2.7rem;
            color: $color-blue-highlight;
            padding-right: 12px;

            @include renderTabletTitleText {
                font-size: 2.3rem;
            }
    
            @include renderMobileTitleText {
                font-size: 1.9rem;
                padding-right: 10px;
            }
        }

        &.terminal {
            font-size: 2.3rem;
            font-weight: 100;
            margin-left: 10px;
            color: #878787;
            background-color: #878787;
            -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;

            @include renderTabletTitleText {
                font-size: 2rem;
            }
    
            @include renderMobileTitleText {
                font-size: 1.6rem;
                margin-left: 6px;
            }
        }
    }
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.dashboard-info {
    margin-left: 0;
    text-align: center;

    .dashboard-content {
        > ul {
            margin-left: 0;
            list-style: none;

            li + li {
                margin-top: 1rem;
            }
        }

        > .recent-posts {
            > li {
                > a {
                    &:hover {
                        color: #002790;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}