.navbar {
    width: 100%;
    background-color: $color-nav-bar;
    padding-left: 11rem;
    padding-right: 11rem;

    @include reduceNavBarPadding {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @include removeNavBarPadding {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include renderMobileTitleText {
        padding-right: 0rem;
    }

    &.is-mobile {
        padding-right: 0rem;
        padding-left: 0rem;
    }
}

.navbar-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    height: 75px;
}

.brand-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    width: 46%;
    margin: auto;

    @include renderMobileNavView {
        margin-right: .25rem;
    }
}

.navbar-routes {
    font-size: 1.25rem;
    height: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    width: 54%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

    a.navbar-item {
        color: white;
        opacity: .8;
        background-color: transparent;
        -webkit-transition: all .15s ease-in;
        transition: all .15s ease-in;
        border-bottom: 3px solid $color-nav-bar;
        border-top: 3px solid $color-nav-bar;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        height: 100%;

        @include renderMobileNavView {
            font-size: .95rem;
            padding: 0.75rem 0.2rem 0.75rem 0.2rem;
            border-bottom: 2px solid $color-nav-bar;
            border-top: 4px solid $color-nav-bar;
        }

        &:not(:first-child) {
            margin-left: 1.25rem;

            @include renderMobileNavView {
                margin-left: 0;
            }
        }

        &:hover {
            color: white;
            background-color: transparent;
            opacity: 1;
        }

        &.is-active {
            color: $color-blue-highlight !important;
            opacity: 1 !important;
            border-bottom: 3px solid $color-blue-highlight !important;

            @include renderMobileNavView {
                border-bottom: 2px solid $color-blue-highlight !important;
            }
        }

        > span:first-child {
            @include renderMobileNavView {
                display: none;
            }
        }

        > span:last-child {
            margin-left: .5rem;
            margin-right: auto;

            @include renderMobileNavView {
                margin-left: 0;
                padding-left: .25rem;
                padding-right: .25rem;
            }
        }
    }
}

.brand-wrapper-mobile {
    display: flex;
    height: 100%;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    width: 49%;
    padding-left: 1rem;
}

.navbar-menu {
    z-index: 3;
    overflow: auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    display: block !important;
    visibility: hidden;
    transition: opacity .35s ease-in-out;

    ul {
        width: 100%;
    }

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    hr {
        background-color: #dbdbdb;
        margin: .25rem 0;
        height: 1px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar-brand {
    height: 75px;
}

.navbar-item-mobile {
    cursor: pointer;
    text-align: center;
    color: $color-nav-bar;
    line-height: 1.5;
    position: relative;
    padding: 0.50rem 0;
    font-weight: 500;
    display: block;
    width: 99%;
    margin-left: auto;
    margin-right: auto;

    &.is-active {
        color: #3273dc;
    }

    svg {
        margin-right: .5rem;
    }   
}

.navbar-burger {
    color: #fff;
    display: flex;
    width: 4rem;
    height: 100%;
    
    &.is-active,
    &:hover {
        color: #fff;
    }

    > span {
        height: 2px;
        width: 20px;
    }
}